{{ define "base" }}
<!DOCTYPE html>
<html>
<head>
  <title>{{ .Title }}</title>
  <link rel="stylesheet" href="/static/css/output.css">
  <link rel="icon" href="/static/img/favicon.ico" type="image/x-icon">

  <!-- Font Awesome -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap" rel="stylesheet">

  <!-- Tabulator CSS and JS -->
  <link href="https://unpkg.com/tabulator-tables@6.3.0/dist/css/tabulator.min.css" rel="stylesheet">
  <script type="text/javascript" src="https://unpkg.com/tabulator-tables@6.3.0/dist/js/tabulator.min.js"></script>

  <!-- jQuery -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

  <!-- Toastr CSS and JS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>

  <!-- Custom CSS for Clipboard Icon -->
  <style>
    .clipboard-icon.active {
      color: #10B981; /* Tailwind's green-500 */
      transition: color 0.3s;
    }
    .clipboard-icon.error {
      color: #EF4444; /* Tailwind's red-500 */
      transition: color 0.3s;
    }
  </style>
</head>
<body class="bg-gray-200 text-gray-900 dark:bg-gray-900 dark:text-gray-100 font-sans text-lg leading-normal flex flex-col min-h-screen">
  <header>
    <div class="header-container flex items-center justify-between p-5 bg-blue-600 text-white dark:bg-gray-800 dark:text-gray-100 shadow-md">
      <!-- Add Character Button -->
      <div class="icon-button group relative">
        <a href="/auth-character" class="text-2xl text-white p-2.5">
          <i class="fas fa-user-plus"></i>
        </a>
        <span class="absolute top-full left-1/2 transform -translate-x-1/2 mt-2 px-2 py-1 bg-blue-500 text-white dark:bg-gray-700 dark:text-gray-100 text-xs rounded opacity-0 transition-opacity duration-300 group-hover:opacity-100 whitespace-nowrap">
          Add Character
        </span>
      </div>

      <!-- Add Skill Plan Button -->
      <div class="icon-button group relative cursor-pointer" id="add-skill-plan-button">
        <i class="fas fa-plus-circle text-2xl text-white p-2.5"></i>
        <span class="absolute top-full left-1/2 transform -translate-x-1/2 mt-2 px-2 py-1 bg-blue-500 text-white dark:bg-gray-700 dark:text-gray-100 text-xs rounded opacity-0 transition-opacity duration-300 group-hover:opacity-100 whitespace-nowrap">
          Add Skill Plan
        </span>
      </div>

      <!-- Title -->
      <h1 class="text-3xl font-bold">{{ .Title }}</h1>

      <!-- Theme Toggle Button -->
      <div class="group relative text-2xl text-white p-2.5 cursor-pointer" id="theme-toggle">
        <i id="theme-icon" class="fas fa-sun"></i>
        <span class="absolute top-full left-1/2 transform -translate-x-1/2 mt-2 px-2 py-1 bg-blue-500 text-white dark:bg-gray-700 dark:text-gray-100 text-xs rounded opacity-0 transition-opacity duration-300 group-hover:opacity-100 whitespace-nowrap">
          Toggle Theme
        </span>
      </div>

      <!-- Logout Button -->
      {{ if .LoggedIn }}
      <div class="icon-button group relative">
        <a href="/logout" class="text-2xl text-white p-2.5">
          <i class="fas fa-sign-out-alt"></i>
        </a>
        <span class="absolute top-full left-1/2 transform -translate-x-1/2 mt-2 px-2 py-1 bg-blue-500 text-white dark:bg-gray-700 dark:text-gray-100 text-xs rounded opacity-0 transition-opacity duration-300 group-hover:opacity-100 whitespace-nowrap">
          Logout
        </span>
      </div>
      {{ end }}
    </div>
  </header>

  <main class="flex-grow container mx-auto px-4 py-8">
    <div class="bg-white text-gray-900 dark:bg-gray-800 dark:text-gray-100 p-6 rounded-md shadow-md">
      {{ block "content" . }}{{ end }}
    </div>
  </main>

  <!-- Modal -->
  <div id="add-skill-plan-modal" class="fixed inset-0 z-10 flex items-center justify-center bg-black bg-opacity-50 hidden">
    <div class="bg-white text-gray-900 dark:bg-gray-800 dark:text-gray-100 p-5 rounded-md w-full max-w-md mx-4 relative">
      <button id="close-modal" class="absolute top-2 right-2 text-gray-700 dark:text-gray-300 text-2xl">&times;</button>
      <h2 class="text-2xl mb-4">Add New Skill Plan</h2>
      <label for="skill-plan-name" class="block text-lg">Skill Plan Name:</label>
      <input type="text" id="skill-plan-name" placeholder="Enter skill plan name" class="w-full p-2 mt-1 bg-gray-100 border border-gray-300 rounded-md text-gray-900 dark:bg-gray-700 dark:border-gray-600 dark:text-gray-100">
      <label for="skill-plan-contents" class="block text-lg mt-4">Skill Plan Contents:</label>
      <textarea id="skill-plan-contents" placeholder="Enter skill plan details here" class="w-full p-2 mt-1 bg-gray-100 border border-gray-300 rounded-md text-gray-900 dark:bg-gray-700 dark:border-gray-600 dark:text-gray-100"></textarea>
      <button id="save-skill-plan-button" class="mt-4 bg-blue-600 text-white py-2 px-4 rounded-md transition duration-300 hover:bg-blue-700 dark:bg-indigo-500 dark:hover:bg-indigo-600">
        <i class="fas fa-save"></i> Save Skill Plan
      </button>
    </div>
  </div>

  <footer class="bg-blue-600 text-white dark:bg-gray-800 dark:text-gray-100 p-5 w-full mt-auto shadow-md">
    <div class="text-center">
      <!-- Footer content -->
    </div>
  </footer>

  <script src="/static/js/home.js" defer></script>
</body>
</html>
{{ end }}
