{{ define "landing" }}
<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>{{ .Title }}</title>
  <link rel="stylesheet" href="/static/css/output.css">
  <link rel="icon" href="/static/favicon.ico" type="image/x-icon">
  <!-- Font Awesome -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body class="bg-gray-200 text-gray-900 dark:bg-gray-900 dark:text-gray-100 font-sans leading-normal flex flex-col min-h-screen">
  <header class="bg-blue-600 text-white dark:bg-gray-800 dark:text-gray-100 p-5 shadow-md">
    <div class="container mx-auto">
      <h1 class="text-3xl font-bold">{{ .Title }}</h1>
    </div>
  </header>
  <main class="flex-grow flex items-center justify-center">
    <div class="text-center">
      <a href="/login" aria-label="Login with Eve SSO">
        <img src="/static/img/eve-sso.png" alt="Login with Eve SSO" class="w-64 mx-auto">
      </a>
    </div>
  </main>
  <footer class="bg-blue-600 text-white dark:bg-gray-800 dark:text-gray-100 p-5 shadow-md">
    <div class="container mx-auto text-center">
      <!-- Footer content -->
    </div>
  </footer>
</body>
</html>
{{ end }}
